Django==2.2.18
django-storages==1.8
docutils==0.15.2
future==0.18.2
jmespath==0.9.4
pydub==0.23.1
python-dateutil==2.8.1
python-decouple==3.3
PythonVideoConverter==1.0.3
pytz==2019.3
s3transfer==0.3.0
six==1.13.0
sqlparse==0.3.0
urllib3==1.25.7
